<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE config SYSTEM "./dtd/config_v2.dtd">

<config>

	<module name="uam" >
		<param name="inputUAMFile" value="uam.xml" />
		<param name="availableAccessModes" value="walk,car,bike,pt" />
		<param name="parallelRouters" value="4" />
		<param name="searchRadius" value="50500" />
		<param name="walkDistance" value="500" />
		<param name="routingStrategy" value="mintraveltime" />
		<param name="ptSimulation" value="true" />
	</module>
	
	<module name="global" >
		<param name="coordinateSystem" value="Atlantis" />
		<param name="numberOfThreads" value="4" />
		<param name="randomSeed" value="4711" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="population.xml" />
	</module>

	<module name="controler" >
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="10" />
		<param name="writeEventsInterval" value="1" />
		<param name="writePlansInterval" value="1" />
		<param name="outputDirectory" value="output" />
		<param name="overwriteFiles" value="deleteDirectoryIfExists" />
	</module>

	<module name="qsim">
		<param name="endTime" value="24:00:00" />
		<param name="numberOfThreads" value="4" />
		<param name="flowCapacityFactor" value="0.1" />
		<param name="storageCapacityFactor" value="0.1" />
		<param name="mainMode" value="car,access_uam_car,egress_uam_car"/>
	</module>

	<module name="transit">
		<param name="transitScheduleFile" value="schedule.xml" />
		<param name="vehiclesFile" value="vehicles.xml" />
		<param name="useTransit" value="true" />
	</module>

	<module name="planCalcScore">
		<parameterset type="activityParams">
			<param name="activityType" value="home" />
			<param name="scoringThisActivityAtAll" value="false" />
		</parameterset>

		<parameterset type="activityParams">
			<param name="activityType" value="work" />
			<param name="scoringThisActivityAtAll" value="false" />
		</parameterset>
		
		<parameterset type="activityParams">
			<param name="activityType" value="uam_interaction" />
			<param name="scoringThisActivityAtAll" value="false" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="uam" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="access_uam_walk" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="egress_uam_walk" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="access_uam_car" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="egress_uam_car" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="access_uam_bike" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>

		<parameterset type="modeParams" >
			<param name="constant" value="0.0" />
			<param name="marginalUtilityOfDistance_util_m" value="0.0" />
			<param name="marginalUtilityOfTraveling_util_hr" value="0.0" />
			<param name="mode" value="egress_uam_bike" />
			<param name="monetaryDistanceRate" value="0.0" />
		</parameterset>
	</module>

	<module name="planscalcroute">
		<parameterset type="teleportedModeParameters">
			<param name="mode" value="bike" />
			<param name="teleportedModeSpeed" value="3.3" />
			<param name="beelineDistanceFactor" value="1.0" />
		</parameterset>
		<parameterset type="teleportedModeParameters">
			<param name="mode" value="walk" />
			<param name="teleportedModeSpeed" value="2.2" />
			<param name="beelineDistanceFactor" value="1.0" />
		</parameterset>
	</module>

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="1" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.7" />
		<param name="Module_1" value="KeepLastSelected" />

		<param name="ModuleProbability_2" value="0.3" />
		<param name="Module_2" value="SubtourModeChoice" />	
	</module>


	<module name="subtourModeChoice" >

		<!-- Defines the chain-based modes, seperated by commas -->
		<param name="chainBasedModes" value="car" />

		<!-- Defines whether car availability must be considered or not. A agent has no car only if it has no license, or never access to a car -->
		<param name="considerCarAvailability" value="true" />

		<!-- Defines all the modes available, including chain-based modes, seperated by commas -->
		<param name="modes" value="car,pt,walk,bike,uam" />
	</module>

  <module name="linkStats" >
		<!-- Specifies over how many iterations the link volumes should be averaged that are used for the link statistics. Use 1 or 0 to only use the link volumes of a single iteration. This values cannot be larger than the value specified for writeLinkStatsInterval -->
		<param name="averageLinkStatsOverIterations" value="1" />
		<!-- Specifies how often the link stats should be calculated and written. Use 0 to disable the generation of link stats. -->
		<param name="writeLinkStatsInterval" value="1" />
	</module>
</config>
