/* Change row chart's y-axis' text color */
.dc-chart g.row text { fill: black; }

/* Top row boxes */
.selection { font-size: 14pt; min-height: 45px; }

/* Reset button dimensions */
#resetButton { padding: 0px; } /* overwrite bootstraps padding */
a.btn-block { padding-top: 15px; }
#resetAll { width: 100%; }
#resetAll a { height: 51px; }

/* Reduce space below Latest Flights table */
.table { margin-bottom: 0px; }

/* Style Latest Flights table's head row  */
.dc-table-head { padding: 5px; background-color: #F5F5F5; }

/* Give boxes a height before content is loaded */
.loading-height-tall { min-height: 275px; }
.loading-height-short { min-height: 107px; }

/* Hide y-axis and tick labels on all charts with the specified class */
.no-y-axis svg g g.axis.y { display: none; }

/* Hide y-axis and tick lines on all charts with the specified class */
.no-y-axis-line svg g g.axis.y path { stroke: none; }
.no-y-axis-line svg g g.axis.y .tick line {  display: none; }

/* Remove whitespace below bubble chart */
.no-bottom-padding { padding-bottom: 0px;}

/* Design of tooltip box */
.info {
	text-align: justify;
	max-width: 350px;
	min-width: 200px;
	margin-bottom: 10px;
	background-color: #F5F5F5;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Ensure titlebar button width */
.btn-box-tool { min-width: 25px; }

/* Avoid deformed div showing initially */
#maxCrossCompare { display: none; width: 80%; }

/* Design CC slide in info */
#crosscompareInfo {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);

	position:	fixed;
	top: 0;
	z-index: 10000;
	display: none;
	min-width: 200px;
	width: 20%;
	margin: 0 0 0 -11%;
	left:50%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

/* Darken background */
.content-wrapper { background-color: #ecf0f5; }