/* Design for page header */
.header-img {
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
	background: url(../img/header.jpg) no-repeat center center;
	background-size: cover;
}

/* Style for the line in the page header */
.header-line { border-color: #000; width: 75%; }

/* Style for the lines in-between paragraphs */
.body-line {
	margin-top: 75px;
	margin-bottom: 75px;
	border-color: #ddd;
	width: 35%;
}

/* Separate first paragraph from page header */
.first {	margin-top: 60px; }

/* Separate last paragraph from page footer */
.last {	margin-bottom: 60px; }

/* Design for in-page images */
.img {
	height: 231px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Fit heart icon to text */
i.fa.fa-heart { font-size: 18pt; color: IndianRed; }